.car__details {
  .car__details-unlinked {
    display: flex;
    justify-content: space-around;
  }
  .car__details-linked {
    position: relative;
    margin: 20px auto;
    .label__input {
      position: absolute;
    }
    #mileage_div {
      .arrow {
        @include arrow__mixin(45deg, -20px, -100px);
      }
      left: 330px;
      top: 400px;
    }
    #transmission_div {
      .arrow {
        @include arrow__mixin(45deg, -20px, -100px);
      }
      left: 330px;
      top: 150px;
    }
    #brand_div {
      .arrow {
        @include arrow__mixin(-45deg, -20px, 100%);
      }
      right: 330px;
      top: 100px;
    }
    #fuel_type_div {
      .arrow {
        @include arrow__mixin(-45deg, -20px, 100%);
      }
      right: 330px;
      top: 10px;
    }
  }
  .car__wrapper {
    display: flex;
    justify-content: center;
    .car__details-car {
      position: relative;
      display: flex;
      flex-direction: column;
      button {
        margin: 20px 0;
        padding: 10px;
        width: 100%;
      }
    }
  }
}
