@import "variables";
@import "mixins";
@import "car";
@import "header";
@import "footer";

body {
  font-family: "Arial";
  background: radial-gradient(transparent, #ccd 90%);
}

.label__input {
  @include label__input__mixin;
}
input[type="text"] {
  border-radius: 10px;
  border: 2px solid #777;
  height: 25px;
  margin: 20px 0 0 0;
  padding: 0 10px;
}
img {
  width: 100%;
}

li > div > img {
  width: 300px;
}
li > img {
  width: 300px;
}
main {
  width: 90%;
  margin: 50px auto;
}
