@import "variables";
@import "mixins";
@import "car";
@import "header";
@import "footer";

body {
  font-family: "Arial";
  color: white;
  // background: radial-gradient(transparent, #ccd 90%);
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("./AI.jpg");
}

.label__input {
  @include label__input__mixin;
}
input[type="text"] {
  border-radius: 10px;
  border: 2px solid #777;
  height: 25px;
  margin: 20px 0 0 0;
  padding: 0 10px;
}
img {
  width: 100%;
}
.car_icon {
  filter: invert(1);
}
.list-group-item {
  background: rgba($color: #000000, $alpha: 0.4);
  border: 1px solid rgba(255, 255, 255, 0.25);

  overflow: hidden;
}
.important_car_criteria,
.car_wash,
.car_repair,
.hacker {
  padding: 30px 20%;
}

.densitymetr {
  opacity: 0.8;
}
.bolt_container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  img {
    width: 40%;
  }
}
.cleaning_car,
.rik,
.rst {
  float: left;
  margin: 10px;
}
li > div > img {
  width: 300px;
}
li > img {
  width: 300px;
}
main {
  width: 90%;
  margin: 50px auto;
}
.constructor {
  margin: 0 auto;
}
